<h3>Equipment</h3>
<ul>
  <li *ngFor="let piece of equipment">
    <span *ngIf="pieceBeingEdited !== piece; else elseBlock">
      <!-- display state of member -->
      <span (click)="edit(piece)" class="editable-text">{{piece}}</span>
      <button (click)="remove(piece)">remove</button>
    </span>

    <ng-template #elseBlock>
      <!-- edit state of member -->
      <input #updatedName (keyup.enter)="save(updatedName.value)" value="{{piece}}"/>
      <button (click)="save(updatedName.value)">save</button>
    </ng-template>
  </li>
</ul>

<input #name type="text"/>
<button (click)="add(name.value); name.value = ''">Add</button>

